html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Box sizing */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Clearfix */

.cf:after {
  content:"";
  display:table;
  clear:both;
}



/* Loading Animation */

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

/* Loading animation container */
.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 28px;
	height: 28px;
	margin: -14px 0 0 -14px;
}

/* Spinning circle (inner circle) */
.loading .maskedCircle {
	width: 40px;
	height: 40px;
	border-radius: 24px;
	border: 6px solid #67b3dd;
}

/* Spinning circle mask */
.loading .mask {
	width: 24px;
	height: 24px;
	overflow: hidden;
}

/* Spinner */
.loading .spinner {
	position: absolute;
	left: 2px;
	top: 2px;
	width: 52px;
	height: 52px;
	animation: spin 1s infinite linear;
}



html {
    font-size: 50%;
}

body {
    font-size: 1.8rem;
    line-height: 1.6;
    font-family: 'Work Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

h3 {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: inherit; 
}

p {
	margin-bottom: 1.5rem;
}





/* */


.container {
	width: 90%;
	max-width: 750px;
	margin: 5% auto;
}



header {
	text-align: center;
	padding: 30px 20px 50px;
	font-size: 2rem;
}


.grams-container {
	position: relative;
	min-height: 490px;
}

.prev,
.next {
	position: absolute;
	top: 50%;
	font-size: 20px;
	-webkit-transform: translateY(-50%);
}

.prev:hover,
.next:hover {
	color: #67b3dd;
}


.prev {
	left: -40px;
}

.next {
	right: -40px;
}


#grams {
	list-style-type: none;
	text-align: center;
	
}  

.gram {
	display: inline-block;
	width: 32%;
	padding: 20px;
	position: relative;
}

.gram img {
	width: 100%;
	height: auto;

	-webkit-transform: rotateY(0);
	transition: -webkit-transform 0.7s;
}

.gram-meta {
	position: absolute;
	top: 10px;
	left: 10px;
	height: calc(100% - 20px);
	width: calc(100% - 20px);
	display: block;

	background-color: rgba(255, 255, 255, 0.9);

	-webkit-backface-visibility: hidden;

	-webkit-transform: rotateY(-180deg);
	transition: -webkit-transform 0.7s;

}

span.likes {
	display: block;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
}

span.user {
	font-size: 12px;
}

.gm-container {

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}




.gram:hover img {
	-webkit-transform: rotateY(-180deg);
	transition: -webkit-transform 0.7s;
}


.gram:hover .gram-meta {
	-webkit-transform: rotateY(0);
	transition: -webkit-transform 0.7s;
	
}




/* Form */

.hastag {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	font-weight: 600;
	color: #67b3dd;
	font-size: 3rem;

	display: none;
}

label[for="searchText"] {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
}


input[type="text"] {
	
	width: 80%;
	max-width: 400px;

	font-family: 'Work Sans', 'Helvetica Neue', sans-serif;
	font-size: 2.8rem;
	text-align: center;

	/*font-weight: 600;*/


	border: 0;
	border-bottom: 3px solid #fff;
	height: 50px;

	outline: none;

	transition: border-bottom 1s;

}

input[type="text"]:focus {
	border-bottom: 3px solid #67b3dd; 
}


input[type="submit"] {
	height: 35px;
	width: 35px;
	display: inline-block;
	top: -10px;
	background-color: #67b3dd;
	color: white;
	border-radius: 50%;
	border: 0;

	font-family: 'Work Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.4rem;

	cursor:pointer;
}



.message {
	display: none;
	text-align: center;

	max-width: 460px;
	margin: 0 auto;
}

.message a {
	text-decoration: underline;
	color: #67b3dd;
}




.heart {
	color: #67b3dd;
}





.help-icon {
	position: fixed;
	top: 20px;
	right: 20px;
	cursor: pointer;
	font-size: 1.8rem;
}

.fa-times {
	display: none;
}










